<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %} <!-- CSRF - Cross-site request forgery -->
        <input type="text" placeholder="Task Title" name="title">
        <input type="text" placeholder="Task Description" name="description">
        <button type="submit">Submit</button>
    </form>
</body>
</html>